# .env
/db-config/wrds-pipeline/.env
/db-desc/.env
/db-desc/CorporateBondTrading_FindingCustomersYachts/.env
/momentum/.env
/herding/.env

# data
/db-config/wrds-pipeline/data

# function cache
/db-config/wrds-pipeline/functions/__pycache__

# descriptive data
db-desc/BehavioralBiases_Wei/data
/db-desc/CorporateBondTrading_FindingCustomersYachts/data

# data momentum
/momentum/data

# data herding
/herding/data
